<div class="edit form">
<%= form_for :fortune, url: fortunes_path do |f| %>
   

  <div class="field row">
    <%= f.hidden_field(:user_id, value: current_user.id) %>
    <%= f.label :copy,  "Fortune content goes in the field" %><br>
    <%= f.text_area(:copy, cols: 100, rows: 10) %>
  </div>
 
  <div class="field row">
    <%= f.submit %>
  </div>
<% end %>
</div>