<!DOCTYPE html>
<html>
<head>
<title>Fufortune</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="FU.....Fortune">
<meta property="og:title" content="Fu Fortune" />
<meta property="og:type" content="fun" />
<meta property="og:image" content="http://fufortune.herokuapp.com/images/cookie.svg" />
<meta property="og:url" content="http://fufortune.herokuapp.com" />
<meta property="og:site_name" content="Fufortune" />
<link href='https://fonts.googleapis.com/css?family=Laila:600,300' rel='stylesheet'>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

  <div class="site-wrap clearfix center ">
    
    <header class="site-header px2 px-responsive">
      <div class="mt2 wrap py2 clearfix">
        <h1>Fu Fortune</h1>
      </div>


      <div class="clearfix">
        <div class="col-6 pb4 mx-auto cookie">
           <img class="fit" src="/images/cookie.svg" alt="This the fortune cookie">
        </div>
      </div>

    </header>


    <% if user_signed_in? %>
    <div class="logged in">
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
    <% end %>    

    <% if notice %>
      <p class="alert alert-success row"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger row"><%= alert %></p>
    <% end %>    

    <%= yield %>
    <div class="addthis_inline_share_toolbox py2"></div>
    <div class="clearifx">
      <div class="col-6 sm-col-10 mx-auto link" id="link">
      </div>
    </div>

    <footer></footer>

  </div>

<%= render 'shared/ganalytics' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fc6baf5c257a1d"></script>
<script type="text/javascript">
  var fortune = document.getElementById('the-fortune');
  var addthis_config = addthis_config||{};
  addthis_config.data_track_clickback = false;
  addthis_config.data_track_addressbar = false;
  var addthis_share = {
    url: 'http://fufortune.wtf/fortunes/' + fortune.getAttribute('data-id'),
    title: "Fu Fortune # " + fortune.getAttribute('data-id'),
  }

  var link = document.getElementById('link');
  console.log('link', link);
  link.innerHTML= '<a href="http://fufortune.herokuapp.com/fortunes/'+fortune.getAttribute('data-id')+'">http://fufortune.herokuapp.com/fortunes/'+fortune.getAttribute('data-id') +'</a>';

</script>
</body>
</html>
