<!DOCTYPE html>
<html>
<head>
<title>Fufortune</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="FU.....Fortune">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<div class="logged in">
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
<% end %>

<% if notice %>
  <p class="alert alert-success row"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger row"><%= alert %></p>
<% end %>

<%= yield %>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fc6baf5c257a1d" async="async"></script>
<%= render 'shared/ganalytics' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
